a {
  color: black; /* 링크 색상 */
  text-decoration: none; /* 밑줄 없애기 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
  position: relative; /* 가상 요소의 위치 기준 */
  padding-left: 50px; /* 텍스트와 오른쪽 경계 사이의 간격 */
}
/* 가상 요소 초기 숨김 설정 */
a::after {
  content: "►"; /* 오른쪽 화살표 문자 */
  color: black; /* 화살표 색상 */
  opacity: 0; /* 초기에는 보이지 않음 */
  transition: opacity 0.3s ease; /* 부드러운 페이드 효과 */
  position: absolute; /* 절대 위치 */
  left: 0; /* 링크의 오른쪽 경계에서 시작 */
  top: 0; /* 링크의 상단에 정렬 */
}
/* 링크에 마우스를 올렸을 때의 스타일 */
a:hover::after {
  opacity: 1; /* 마우스 오버 시 화살표가 보이게 설정 */
}
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative; /* 가상 요소의 위치 기준 */
  padding-left: 50px;
}
button::after {
  content: "►"; /* 오른쪽 화살표 문자 */
  color: black; /* 화살표 색상 */
  opacity: 0; /* 초기에는 보이지 않음 */
  transition: opacity 0.3s ease; /* 부드러운 페이드 효과 */
  position: absolute; /* 절대 위치 */
  left: 0; /* 링크의 오른쪽 경계에서 시작 */
  top: 0; /* 링크의 상단에 정렬 */
}
/* 링크에 마우스를 올렸을 때의 스타일 */
button:hover::after {
  opacity: 1; /* 마우스 오버 시 화살표가 보이게 설정 */
}